{% extends 'base.html' %}

{% block content %}
    <h1> {{title}} Movies</h1>
      
                 
            <div class="row">
                {% for movie in movies %}
                    <div class="col-sm-4">
                    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ movie.poster_path}}" width="300px" height="300px">
                    <h3><a href="/movies/{{movie.id}}"> {{movie.title}}</a></h3>
                    <p>Description: {{ movie.overview[:50] }}</p>
                    <p><a href="/movies/{{movie.id}}">Read more...</a></p>
                    </div>
                    {% endfor %}
            </div>
        
 {% endblock %}